<small>{{formattedTime}}</small>

<h3>{{session.talk}}</h3>

{{#if session.name}}
  <ul class="speakers">
    <li>{{session.name}}</li>
  </ul>
{{/if}}

{{#if session.blurb}}
  <div class="description">
    <p>{{session.blurb}}</p>

    <ul class="links">
      {{#if session.twitter}}
        Twitter: <a href="https://twitter.com/{{session.twitter}}" target="_blank">@{{session.twitter}}</a>
      {{/if}}
      {{#if session.github}}
        Github: <a href="https://github.com/{{session.github}}" target="_blank">{{session.github}}</a>
      {{/if}}
      {{#if session.linkedin}}
        LinkedIn: <a href="https://linkedin.com/in/{{session.linkedin}}" target="_blank">{{session.linkedin}}</a>
      {{/if}}
    </ul>
  </div>
{{/if}}
